*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font: General Sans;

}

.main
{
    /* height: 1000vh; */
    width: 100%;
    background-color: black;
    color: white;
  
}
#navbar
{  display: flex;
    justify-content: space-between;
    padding:20px 20px;
    color: white;
    text-decoration: none;
}
#navbar>a{
    text-decoration: none;
    color: white;
    opacity: 0.7;
    font-weight: bold;
}

#Heroline1{
    font-size: 10vw;
    opacity: 0.7;
    margin-left: 20px;
    padding-top: 50px;
      
}
#Heroline2{
    font-size: 10vw;
    opacity: 0.7;
    margin-left: 180px;
    line-height: 0.9;
}
#Heroline3
{
    
    opacity: 0.7;
   display: flex;
    line-height: 1.5;
    justify-content: right;
    padding: 0 25vw;
}
.HeroFooter1{
    
    opacity: 0.7;
   display: flex;
  
    line-height: 1.5;
    justify-content: flex-end;
    padding: 0 2vw;
    padding-top: 60px;
}
.HeroFooter2{
    opacity: 0.7;
    display: flex;
     line-height: 1.5;
     justify-content:space-between;
     padding: 0 2vw;
     padding-top: 40px;
}
.upp>i
{

   padding: 10px; 
   /* width: 30px;
   height: 30px; */
   /* column-gap: 10px; */
}

/* Project Section  Styling*/
#ProjectSection
{
padding-top: 200px;
padding-left: 10px;
padding-right: 10px;
}
.projectitem
{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 5vw;
    opacity: 0.6;
    text-transform: uppercase;
    border-top: 1px solid white;
    position: relative;
}
.projectitem img{
    position: absolute;
    opacity: 0;
    height:100%;
    transform: translate(-50%, -50%);
   

   
}
.projectitem h3{

    font-size: 3vw;
}
.projectitem h5{

    font-size: 1.5vw;
}
.projitemlast
{
    border-bottom: 1px solid white;
}


/* About Section Styling */

#About
{
    display: flex;
    align-items: center;
    gap: 50px;
    padding-left: 50vw;
    padding-top: 20vw;
}
#About img{
    width: 200px;

}
.aboutmetext h5{
   padding-bottom: 20px;
   opacity: 0.6;
}
.aboutmetext a{
    text-decoration: none;
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px;
    color: white;
    font-size: 1vw;
  
}
.aboutmetext p{
    line-height: 1.3;
}
.btn
{
    padding-top: 20px;
    padding-bottom: 20px;
}
/* Subscribe Section style */
.subscribe
{
  
    padding: 20px;
}
.subscribe h5{
    opacity: 0.6;
    line-height: 2;
}
.Footer{
    padding-top:  60px;
    display: flex;
    justify-content: space-between;

}
.footerleft h5{
    padding: 10px;
}
.footerleft
{
    display: flex;
    padding: 10px;
}

.footerright,a

{
padding: 10px;
text-decoration: none;
color: white;
}

/* Adding Animations */

