*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font: General Sans;

}
body{background-color: black;}
.main
{
    /* height: 1000vh; */
    width: 100%;
  
    color: white;
  
}
#navbar
{  display: flex;
    justify-content: space-between;
    padding:20px 20px;
    color: white;
    text-decoration: none;
}
#navbar>a{
    text-decoration: none;
    color: white;
    opacity: 0.7;
    font-weight: bold;
}

#Heroline1{
    font-size: 10vw;
    opacity: 0.7;
    margin-left: 20px;
    padding-top: 50px;
      
}
#Heroline2{
    font-size: 10vw;
    opacity: 0.7;
    margin-left: 180px;
    line-height: 0.9;
}
#Heroline3
{
    
    opacity: 0.7;
   display: flex;
    line-height: 1.5;
    justify-content: right;
    padding: 0 25vw;
}
.HeroFooter1{
    
    opacity: 0.7;
   display: flex;
  
    line-height: 1.5;
    justify-content: flex-end;
    padding: 0 2vw;
    padding-top: 60px;
}
.HeroFooter2{
    opacity: 0.7;
    display: flex;
     line-height: 1.5;
     justify-content:space-between;
     padding: 0 2vw;
     padding-top: 40px;
}
.upp>i
{
   padding: 10px; 
   width: 30px;
   height: 30px;
}
#line{
    margin-top: 50px;
margin-left: 20px;
margin-right: 20px;
}
.Heroproject
{
    padding: 10px;
    font-size: 3vw;
    opacity: 0.7;
}
.Heroproject1{
    padding: 50px;
 

}
.Heroproject2
{
    padding: 50px;

}
.Heroproject3
{
    padding: 50px;
}
.about
{
    display: flex;
    justify-content:flex-end;
    padding: 30px;
}
.Heroprof{
    padding: 30px;
}
.Heroabout{
    padding: 30px;
}
a
{
    display: inline-block;
        position: relative;
        /* color: #0087ca; */
      }

     a::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        opacity: 0.7;
        transform-origin: bottom right;
        transition: transform 0.5s ease-out;
      }
      a:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
    footer{
        
        display: flex;
        justify-content: space-between;
        padding:90px 20px 40px 10px;
        color: white;
        opacity: 0.7;
      
    }
    .rightfooter>a{
        text-decoration: none;
        color: white;
       
        font-weight: bold;
       padding: 10px;
    }



    